<div>
  <app-client-header class="client-header d-block" title="Заполните данные"></app-client-header>

  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="row">
      <label class="form-group col">
        <span class="figure-caption">Имя</span>
        <input type="text" class="col form-control" formControlName="name">
      </label>
    </div>
    <div class="row">
      <label class="form-group col">
        <span class="figure-caption">Телефон</span>
        <input type="tel" class="col form-control" prefix="+7 " mask="(000)-000-00-00" formControlName="phone">
      </label>
    </div>
    <div class="row">
      <div class="form-group col">
        <div class="figure-caption">Как подтвердить заказ?</div>

        <ui-group-selector [options]="confirmOptions" formControlName="confirmType"></ui-group-selector>
      </div>
    </div>
    <div class="row pt-2">
      <div class="form-group col">
        <button class="btn btn-primary col btn-lg" [disabled]="form.invalid">Продолжить</button>
      </div>
    </div>
  </form>
</div>
