<div class="d-flex flex-column fw-height-percent-100">
  <div class="popup-header fw-color-white d-flex justify-content-between align-items-center mb-3">
    <div class="flex-grow-1 flex-shrink-0 fw-flex-basis-0">
      <button mat-dialog-close class="icon icon-close"></button>
    </div>
    <div class="flex-grow-1 text-center flex-shrink-0">Выберите столик</div>
    <div class="flex-grow-1 flex-shrink-0 fw-flex-basis-0">&nbsp;</div>
  </div>
  <div id="client-map" class="flex-grow-1">
    <app-client-map class="d-block" [tables]="tables$ | async"
                    [selectedTable]="selectedTable"
                    (preview)="onPreview($event)"></app-client-map>
  </div>
  <div class="pl-2 pr-2 pb-2 text-center mt-3" [hidden]="!selectedTable">
    <div class="mb-3">{{selectedTable?.number}} столик
      <span class="fw-color-gray">
        макс. {{selectedTable?.count}} человека
      </span>
    </div>
    <div>
      <button type="button" class="col btn btn-primary btn-lg" [mat-dialog-close]="selectedTable">Выбрать</button>
    </div>
  </div>
</div>
