<div>
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-6 mb-5">
      <h2>Рестораны</h2>
      <div>
        <div class="card mb-4" *ngFor="let i of [1,2,3]">
          <div class="card-header">ресторан {{i}}</div>
          <div class="card-body">Какое то описание ресторана {{i}}</div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary">+ Добавить ресторан</button>
      </div>
    </div>
    <div class="col-6">
      <h2>еще какая то инфа по ресторанам</h2>
    </div>
    <div class="col-6">
      <h2>еще другая инфа по заказам</h2>
    </div>
  </div>
</div>
