<div class="app-wrapper">
  <div class="container">
    <router-outlet></router-outlet>

    <!--<div class="fixed-bottom">
      <nav class="container">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" routerLink="/admin">Дашборд</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/plan">План ресторана</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/auth">Вход</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/auth/register">Регистрация</a></li>
        </ul>
      </nav>
    </div>-->
  </div>
</div>
