.btn
  font-size: 17px

  &-secondary
    background-color: #F0F0F0
    border: none
    color: #000000

  &-primary
    background-color: #1EC025
    border: none
    padding: 13px

    &[disabled]
      background-color: #F0F0F0
