<div class="contianer">
  <h1>Забронировать место</h1>

  <div>
    <app-restaurant-item></app-restaurant-item>
  </div>
  <div>
    <ui-guests-selector></ui-guests-selector>
  </div>
  <div>
    <ui-date-selector></ui-date-selector>
  </div>
  <div>
    <ui-time-selector></ui-time-selector>
  </div>
  <div>
    <ui-table-selector></ui-table-selector>
  </div>
  <div>
    <ui-table-wishes></ui-table-wishes>
  </div>
  <div>
    <button class="btn btn-primary btn-lg col">Продолжить</button>
  </div>
</div>
